@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto;
    overflow:scroll;
    height: 100vh;
     margin: 0;
}

.header, .container1{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin:0px;
    padding: 1rem;
    background-color: #1F2937; 
    color: white;
}
.header-text{
    font-weight: 900;
    font-size: 20px;
}

ul{
    display: flex;
    gap: 1rem;
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: white;
}
/*--------------------------------*/

.container1
{
    padding: 4rem;    
    justify-content: space-evenly;
}

.con1-text, .con1-image{
    width: 400px;
    height:auto;
}

.con1-header{
    font-size: 48px;
    font-weight: 900;
    color: #f9FaF8;
}

.con1-description{
    font-size:18px;
    color: #f9faf8;
}

.con1-button, .con4-button{
    color:white;
    background-color: #3882f6;
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 12px;
    margin-top: 8px;    
}

/*------------------------------*/

.con2-header{
    font-weight: 1000; 
    font-size: 36px;
    text-align:center;
    margin: 12px;
}

.container2{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    gap: 2rem;
}

.cont2-info{
    text-wrap:wrap;
    text-align:center;
    max-width: 175px;
    max-height: 175px;
}

.cont2-info img{
    border-style:solid;
    border-color: #3882f6;
    border-radius:12px;
    border-width:4px;
}

/*------------------------------*/

.container3{
    display:flex;
    background-color: #e5e7eb;
    color:black;
    flex-direction:column;
    padding: 4rem;
    gap: 1rem;
    font-size: 24px;
}

.con3-text{
    text-align:left;
}

.con3-source{
    text-align:right;
}

.con3-source, .con3-text{
    margin-left:8rem;
    margin-right:8rem;
}

/*-----------------------------*/

.container4{
    display:flex;
    justify-content:center;
}

.bluebox{
    display: flex;
    color:white;
    background-color:#3882f6;
    align-items:center;
    justify-content: space-around;
    width: 800px;
    border-radius: 6px;
    margin: 4rem;
    padding: 2rem 2rem;    
    gap: 0rem;
}

.con4-button{
    border-color: white;
}

/*---------------------------*/

.footer{
    display:flex;
    background-color:#1F2937;
    color: white;
    text-align:center;
    justify-content:center;
    align-items:center;
    padding: 2rem;
}